#header {
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-image: url("../images/overlay.png"), url("../images/bg.jpg");
    background-position: top left, top left;
    background-repeat: repeat, no-repeat;
    background-size: auto, 150%;
    padding: 8em 4em;
    text-align: right;
    align-items: flex-end;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
    /*
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%); 
    */
}

.icons {
    padding-top: 35%;
    font-size: 1.5rem;
}

.social {
    color: #efefef86;
    margin: 3px;
}

.avatar {
    margin: 0 0 1em 0;
    width: 15em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#title {
    font: inherit;
	line-height: 2em;
    margin: 0;
    font-weight: 400;
    font-size: 1.5em;
}

#title strong {
    font: inherit;
    font-weight: 400;
    color: #fff
}

body {
    color: #a2a2a2;
    font-family: "Source Sans Pro", Helvetica, sans-serif !important;   
    font-size: 100% !important;
    font-weight: 400 !important;
    line-height: 1.75em !important;
}

.major {
    color: #787878
}

#content {
    margin-left: 35%;
    padding: 8em 4em 4em 4em;
    width: calc(100% - 35%);
    max-width: 54em;
    font: inherit;
    color: #a2a2a2;
}

#content strong {
    color: #787878
}

.logos {
    color: #495057;
}
.logo-img {
    font-size: 5rem;
    max-width: 5rem;
}

.icon {
    text-align: center;
}

.project-image {
    height: 190px;
    width: 100%;
    border-radius: 0.1em;
    padding: 0 0 5px 0;
}

.project-content {
    font-size: 12pt;
}

#two {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
}

#three {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
}

#contact {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
}



/* Responsiveness */

/* Tablet */
@media screen and (max-width: 980px) {
    #header {
        text-align: center;
        width: 100%;
        height: auto;
        position: relative;
        font: inherit;
        padding: 4em 3em;
    }

    #content {
        text-align: left;
        margin: 0;
        width: 100%
    }
}

/* Small phone */
@media screen and (max-width: 480px) {
    #header {
        padding: 4.5em 1.5em;
    }
    #header h1 br {
        display: none;
    }
}